<!-- <!DOCTYPE html>
<html lang="es">
<head>
	{% if title %}
	<meta charset="UTF-8">
	<title>{{title}} - JRBlog</title>
	{% else %}
	<title>Welcome to JRBlog!</title>
	{% endif %}
</head>
<body>
	<h1>Hola, {{user.username}}!</h1>
	{% for post in posts %}
	<div><p>{{post.author.username}} says: <b>{{post.body}}</b></p></div>
	{% endfor %}
</body>
</html> -->

{% extends "base.html" %}

{% block content %}
	<h1>Hols, {{user.username}}!</h1>
	{% for post in posts %}
	<div><p>{{ post.author.username}} says: <b>{{post.body}} </b></p></div>
	{% endfor %}
{% endblock %}